<!doctype html>
<html lang="en">

    <head>

        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!--jquery UI base css-->
        <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

        <!--Jquery-->
        <script
			  src="https://code.jquery.com/jquery-3.4.0.js"
			  integrity="sha256-DYZMCC8HTC+QDr5QNaIcfR7VSPtcISykd+6eSmBW5qo="
			  crossorigin="anonymous"></script>

        <!--jquery UI-->
        <script
			  src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"
			  integrity="sha256-T0Vest3yCU7pafRw9r+settMBX6JkKN06dqBnpQ8d30="
			  crossorigin="anonymous"></script>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>

        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

        <link rel="stylesheet" href="/static/styles.css">

        <title>{% block title %}{% endblock %}</title>

    </head>

    <body>
        <main>
            <div class="container b">
                {% block body %}{% endblock %}
            </div>
        </main>

        <footer>
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-10 text-center">
                    <p><a href="https://forums.warframe.com/topic/1077490-riven-trading-toolbuilders-phase-1/">Warframe's Riven API</a> is used on this website.</p>
                    <p>The data on this website is not 100% accurate. <br>See the price on <a href="https://riven.market/">Riven.Market</a> or other similar websites for better grasp of a Riven's price.</p>
                    <p>This website is a <a href="https://courses.edx.org/courses/course-v1:HarvardX+CS50+X/course/">CS50</a>'s project</p>
                    </div>
                </div>
            </div>
        </footer>

    </body>
</html>